%h1 Listing all Articles

= link_to "New Article", new_article_path, class: "btn btn-default btn-lg", id: "new-article-btn"

- @articles.each do |article|
  .well.well-lg.article
    .article-title
      = link_to article.title, article_path(article)
    .article-body
      #{truncate(article.body, length: 500)}
    .article-authr
      .small Created by: #{article.user.email unless article.user.blank?}



