@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background: #D8D8D8;
  color: #791e9e;
}

.article {
  padding-left: 0.7em;
  .article-title {
    font-weight: bold;
    font-size: 2.5em;
    margin-bottom: 0.8em;
  }
  .article-body {
    font-size: 1.5em;
  }
}

#new-article-btn {
  margin-bottom: 10px;
}


.detail-article {
  .article-dedatil-title {
    font-size: 4em;
    margin-bottom: 40px;
  }
  .article-date {
    margin-bottom: 40px;
    color: #818181;
  }
  .article-body {
    font-size: 1.5em;
    color: black;
  }
}

